.header {
    background-color: #333;
    color: #fff;
}

.title-header {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 10px;
}

.nav-link {
    transition: color 0.3s ease;
    font-size: 1rem;
    white-space: nowrap;
    color: transparent;
    background-image: linear-gradient(45deg, #b8a14f, #8f6f3f, #706040);
    background-clip: text;
    -webkit-background-clip: text;
}

.nav-link:visited {
    color: transparent;
    background-image: linear-gradient(45deg, #b8a14f, #8f6f3f, #706040);
    background-clip: text;
    -webkit-background-clip: text;
}

.nav-link:focus {
    outline: none;
    color: transparent;
    background-image: linear-gradient(45deg, #b8a14f, #8f6f3f, #706040);
    background-clip: text;
    -webkit-background-clip: text;
}

.nav-link:hover {
    color: #b8a14f;
}

.dropdown img {
    border: 2px solid #b8a14f;
}

.dropdown-menu {
    background-color: #444;
    border: none;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #b8a14f;
    color: #333;
}

@media (max-width: 768px) {
    .nav {
        justify-content: space-between;
        min-width: 100%;
    }

    .nav-link {
        font-size: 0.7rem;
        padding: 0 5px;
    }

    .header .navbar-toggler {
        border: none;
        background: transparent;
        color: #fff;
    }

    .navbar-toggler-icon {
        width: 30px;
        height: 2px;
        background-color: #fff;
        display: block;
        position: relative;
    }

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: "";
        width: 30px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
    }

    .navbar-toggler-icon::before {
        top: -8px;
    }

    .navbar-toggler-icon::after {
        top: 8px;
    }
}

@media (max-width: 576px) {
    .nav {
        justify-content: space-evenly;
        min-width: 100%;
    }

    .nav-link {
        font-size: 0.6rem;
    }

    .title-header {
        font-size: 1.2rem;
    }
}